{% extends 'base.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block body %}
    <div class="container container2">
        <h1>Modifier le stock</h1>

        <div style="display: inline-block">{{ include('stock/_form.html.twig', {'button_label': 'Modifier'}) }}</div>
        <div style="display: inline-block"><a class="btn btn-primary" href="{{ path('stock_index') }}">Retour à la liste</a></div>
        <div style="display: inline-block">{{ include('stock/_delete_form.html.twig') }}</div>

    </div>
{% endblock %}
