{% extends 'base.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
    <div class="container container2">
        <h1>Créer un nouveau stock</h1>
        <div style="display: inline-block">{{ include('stock/_form.html.twig') }}</div>
        <div style="display: inline-block"><a class="btn btn-primary" href="{{ path('stock_index') }}">Retour à la liste</a></div>
    </div>
{% endblock %}
